[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk/
[submodule "src/PicoLed"]
	path = src/PicoLed
	url = https://github.com/ForsakenNGS/PicoLED
[submodule "FreeRTOS-Kernel"]
	path = FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
