[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk/
[submodule "freertos/FreeRTOS-Kernel"]
	path = freertos/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel/
[submodule "src/PicoLed"]
	path = src/PicoLed
	url = https://github.com/ForsakenNGS/PicoLED
